<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>Servlet.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>Servlet.Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuPage</servlet-name>
        <servlet-class>Servlet.MenuPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inviti</servlet-name>
        <servlet-class>Servlet.Inviti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gruppi</servlet-name>
        <servlet-class>Servlet.Gruppi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaGruppi</servlet-name>
        <servlet-class>Servlet.CreaGruppi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataUtente</servlet-name>
        <servlet-class>Servlet.DataUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuPage</servlet-name>
        <url-pattern>/MenuPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inviti</servlet-name>
        <url-pattern>/Inviti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gruppi</servlet-name>
        <url-pattern>/Gruppi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaGruppi</servlet-name>
        <url-pattern>/CreaGruppi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataUtente</servlet-name>
        <url-pattern>/DataUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
